name: Update Docker Hub README

on:
  push:
    branches:
      - main
    paths:
      - 'README.md'

jobs:
  update-dockerhub-readme:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Update Docker Hub description (backend)
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ldscyber/ticketforge-backend
          readme-filepath: ./README.md

      - name: Update Docker Hub description (webapp)
        uses: peter-evans/dockerhub-description@v4
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: ldscyber/ticketforge-webapp
          readme-filepath: ./README.md
